body{
    background-color: black;
    color: white;
    font-family: Arial;
}

h1{
 color: brown(255, 0 0);
 font-size: 40px;
 font-family: "Arial";
}

h2{
    color: black(255, 0 0); 
    font-size: 30px;
    font-family: "times New Roman";
    margin-top: 40px;
}

ul{
    list-style: circle;
}

li{
    color: blue(136, 255,0);
    font-size: 15px;
}

a{
    list-style: none;
    color: chartreuse;
}